In [1]:
import sys
import pandas as pd
import config as cf

sys.path.append(r'C:\Users\Admin\OneDrive - VNU-HCMUS\_AI23\Sharepoint\DataCo_DWH\dataset')

In [ ]:
# Sample for appending data
data = {
    'Type': 'DEBIT',
    'Days for shipping (real)': 2,
    'Days for shipment (scheduled)': 4,
    'Benefit per order': 213.690002,
    'Sales per customer': 436.100006,
    'Delivery Status': 'Advance shipping',
    'Late_delivery_risk': 0,
    'Category Id': '66',
    'Category Name': 'Crafts',
    'Customer City': 'Palatine',
    'Customer Country': 'EE. UU.',
    'Customer Email': 'XXXXXXXXX',
    'Customer Fname': 'Contreras',
    'Customer Id': '14909',
    'Customer Lname': '',
    'Customer Password': 'XXXXXXXXX',
    'Customer Segment': 'Corporate',
    'Customer State': 'IL',
    'Customer Street': '2407 Dusty Mount',
    'Customer Zipcode': '60067.0',
    'Department Id': '4',
    'Department Name': 'Apparel',
    'Latitude': 42.110535,
    'Longitude': -88.102402,
    'Market': 'Europe',
    'Order City': 'Estocolmo',
    'Order Country': 'Suecia',
    'Order Customer Id': '14909',
    'Order Date': '11/7/2017 14:50',
    'Order Id': '71356',
    'Order Item Cardprod Id': '1353',
    'Order Item Discount': 25.379999,
    'Order Item Discount Rate': 0.06,
    'Order Item Id': '174671',
    'Order Item Product Price': 461.480011,
    'Order Item Profit Ratio': 0.49,
    'Order Item Quantity': 1,
    'Sales': 461.480011,
    'Order Item Total': 436.100006,
    'Order Profit Per Order': 213.690002,
    'Order Region': 'Northern Europe',
    'Order State': 'Estocolmo',
    'Order Status': 'COMPLETE',
    'Order Zipcode': '',
    'Product Card Id': '1353',
    'Product Category Id': '66',
    'Product Description': '',
    'Product Image': 'http://images.acmesports.sports/Porcelain+crafts',
    'Product Name': 'Porcelain crafts',
    'Product Price': 461.480011,
    'Product Status': '0',
    'Shipping Date': '11/9/2017 14:50',
    'Shipping Mode': 'Standard Class'
}

# Create a DataFrame from the provided data
orders = pd.DataFrame(data, index=[0])

# Replace NaN with empty strings
orders.fillna('', inplace=True)

# Create a connection to the database
conn, cursor = cf.create_connection(server='LAPTOPNAYCUATIE', username='', password='', database='DB_staging')

# Prepare the data for insertion
data = [tuple(orders.values[0])]

# Execute the stored procedure to insert the data
try:
    cursor.executemany("EXEC sp_insert_datacoorders ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?", data)
    print("Insertion successful.")
except Exception as e:
    print("Insertion failed:", e)

# Commit and close resources
conn.commit()
cursor.close()
conn.close()

In [19]:
# #create connection
# conn, cursor = cf.create_connection(server='LAPTOP-TL' , username='sa' , password='Laitoanthang219!' , database='dataco_staging')

In [ ]:

# # Connect to SQL Server
# try:
#     cnxn = pyodbc.connect(connection_string)
#     cursor = cnxn.cursor()

#     # Step 1: Call the stored procedure to insert data
#     try:
#         # Define the parameters for the stored procedure
#         column1_value = 'Value1'
#         column2_value = 'Value2'
#         column3_value = 'Value3'

#         # Execute the stored procedure
#         cursor.execute("{CALL InsertIntoYourTable (?, ?, ?)}", (column1_value, column2_value, column3_value))
#         cnxn.commit()  # Commit the transaction

#         print("Data inserted successfully.")
#     except Exception as e:
#         print(f"An error occurred during insertion: {e}")
#     finally:
#         cursor.close()

#     # Step 2: Read data from the table into a pandas DataFrame
#     query = "SELECT * FROM YourTableName"
#     df = pd.read_sql(query, cnxn)

#     # Print the DataFrame to see the data
#     print(df)

# except Exception as e:
#     print(f"An error occurred while connecting to SQL Server: {e}")

# finally:
#     # Close the connection if it was established
#     if 'cnxn' in locals():
#         cnxn.close()

Total time taken: 3.44 seconds